*{
     margin: 0;
     padding: 0;
}
.container{
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100vh;
     width: 100vw;
     flex-direction: column;
     background: linear-gradient(red, blue);     
}
h1{
     margin: 17px;
     color: greenyellow;
}
.box{
     display: flex;
     min-height: 400px;
     width: 400px;
     flex-direction: column;
     align-items: center;
     background-color: yellow;
     border-radius: 20px;
}
.checked{
     text-decoration: line-through;
}
.todo{
     background-color: lightgrey;
     width: 300px;
     margin-top: 20px;
     border-radius: 17px;
     display: flex;
     flex-direction: column;
     gap: 10px;
     justify-content: space-around;
     padding: 15px;

}
.inputNDbtn{
     width: 80%;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 7px;
     margin-top: 17px;
}
.inputt{
     width: 100%;
     padding: 7px;
     border-radius: 10px;
}
.btn{
     padding: 4px;
     border-radius: 10px;
     font-size: 20px;
     width: 70px;
     border: 1px solid white;
     color: rgb(91, 42, 42);
     background-color: rgb(9, 242, 9);
}
.list{
     display: flex;
     justify-content: space-between;
     background-color:  rgb(112, 160, 201);
     color: rgb(9, 10, 10);
     border-radius: 7px;
     padding: 7px;
     font-size: 19px;
}
.spanElm{
width: 20px;
height: 900px;
border-radius: 50%;
background-color: black;
cursor: pointer;
}
