*{
     margin: 0;
     padding: 0;
}

.container{
     height: 100vh;
     width: 100vw;
     background: linear-gradient(lightpink, blue);
     display: flex;
     justify-content: center;
     align-items: center;
}

.btn
{
height: 70px;
width: 100px;
border-radius: 20px;
text-align: center;
background-color: darkorange;
display: flex;
justify-content: center;
align-items: center;
font-size: 19px;
position: relative;
overflow: hidden;
}
span{
     z-index: 1;
     position: relative;
}
.btn::before{
     content: " ";
     /* height: 30px; */
     width: 30px;
     background-color: lawngreen;
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
}
.btn:hover::before{
height: 100px;
width: 100px;
animation: 6s ;
}